/** BEGIN: Non Openmrs CSS **/

@import "src/assets/stylesheets/colors";

:root {
  --omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
  --omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
  --omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
  --omrs-color-interaction: #1e4bd1;
  --omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
  --omrs-color-danger: #b50706;
  --omrs-color-bg-low-contrast: #eff1f2;
  --omrs-color-ink-high-contrast: #121212;
  --omrs-color-bg-high-contrast: #ffffff;

}

/** END: Non Openmrs CSS **/
.omrsInputGroup {
  margin-bottom: 1.5rem;
  position: relative;
  width: 20.4375rem;
  .omrsInputUnderlined,
  .omrsInputFilled{
    input{
      border: none;
      border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
      width: 100%;
      height: 2rem;
      font-size: 1.0625rem;
      padding-left: 0.875rem;
      line-height: 147.6%;
      padding-top: 0.825rem;
      padding-bottom: 0.5rem;
      &:focus{
        outline: none;
      }
      &:hover{
        background: var(--omrs-color-interaction-minus-two);
        border-color: var(--omrs-color-ink-high-contrast);
      }
    }
    svg{
      position: absolute;
      top: 0.9375rem;
      right: 0.875rem;
      fill: var(--omrs-color-ink-medium-contrast);
    }
    .omrsInputLabel{
      position: absolute;
      top: 0.9375rem;
      left: 0.875rem;
      line-height: 147.6%;
      color: var(--omrs-color-ink-medium-contrast);
      transition: top .2s;
    }
    .omrsInputHelper{
      font-size: 0.9375rem;
      color: var(--omrs-color-ink-medium-contrast);
      letter-spacing: 0.0275rem;
      margin: 0.125rem 0.875rem;
    }
  }

}

//.omrsInputUnderlined > input:hover,
//.omrsInputFilled > input:hover {
//  background: var(--omrs-color-interaction-minus-two);
//  border-color: var(--omrs-color-ink-high-contrast);
//}

.omrsInputUnderlined > input:focus + .omrsInputLabel,
.omrsInputUnderlined > input:valid + .omrsInputLabel,
.omrsInputFilled > input:focus + .omrsInputLabel,
.omrsInputFilled > input:valid + .omrsInputLabel {
  top: 0;
  font-size: 0.9375rem;
  margin-bottom: 32px;;
}

.omrsInputUnderlined:not(.omrsInputDanger) > input:focus + .omrsInputLabel,
.omrsInputFilled:not(.omrsInputDanger) > input:focus + .omrsInputLabel {
  color: $secondColor;
}

.omrsInputUnderlined:not(.omrsInputDanger) > input:focus,
.omrsInputFilled:not(.omrsInputDanger) > input:focus {
  border-color: $secondColor;
}

.omrsInputUnderlined:not(.omrsInputDanger) > input:focus ~ svg,
.omrsInputFilled:not(.omrsInputDanger) > input:focus ~ svg {
  fill: var(--omrs-color-ink-high-contrast);
}

/** DISABLED **/

.omrsInputUnderlined > input:disabled {
  background: var(--omrs-color-bg-low-contrast);
  cursor: not-allowed;
}

.omrsInputUnderlined > input:disabled + .omrsInputLabel,
.omrsInputUnderlined > input:disabled ~ .omrsInputHelper{
  color: var(--omrs-color-ink-low-contrast);
}

.omrsInputUnderlined > input:disabled ~ svg {
  fill: var(--omrs-color-ink-low-contrast);
}


/** DANGER **/

.omrsInputUnderlined.omrsInputDanger > .omrsInputLabel, .omrsInputUnderlined.omrsInputDanger > .omrsInputHelper,
.omrsInputFilled.omrsInputDanger > .omrsInputLabel, .omrsInputFilled.omrsInputDanger > .omrsInputHelper{
  color: var(--omrs-color-danger);
}

.omrsInputDanger > svg {
  fill: var(--omrs-color-danger);
}

.omrsInputDanger > input {
  border-color: var(--omrs-color-danger);
}

.omrsInputUnderlined > input {
  background: var(--omrs-color-bg-high-contrast);
}
.omrsInputFilled > input {
  background: var(--omrs-color-bg-low-contrast);
}